<div class="col-sm-6 offset-sm-3">
    <h3> Search User by ID</h3>

    <!--Usamos Binging de angular para llamar al método del .ts asociado-->
    <!--La sintaxis [()] BananaInBox es un Two-Way Binding-->
    <form (ngSubmit) = "onSubmitForm()">
    
        <div class="form-group">
            <label> ID</label>
            <input type="text" class ="form-control" id = "id"
                [(ngModel)] = "id" name = "id">
        </div>

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
</div> 
