<h4> User Details</h4>
<div>
    <div>
        <label> <b> ID: </b></label> {{user.id}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{user.name}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{user.email}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{user.age}}
    </div>
    <div>
        <label> <b> Language: </b></label> {{user.language}}
    </div>
    <p></p><p></p>
    <div>
        <button (click) = "redirectUserList()" class = "btn btn-info"> Back to User List</button>
    </div>
</div>
